body {
    overflow: hidden;
}
.wrapper {
   min-width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login {
    padding-bottom: 15 px;
}
.password {
    margin-top: 10px;
}